/*general*/
*{
    font-family: Times;
    box-sizing: border-box;
}
.minititle{
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 300%;
}
html, body{
    margin: 0;
    padding: 0;
}

.nav ul{
    margin: 0;
    border: 0;
    padding: 0;
}

.nav li{
    display: inline;
    color:blueviolet;
    font-size: 180%;
}


.nav{
    position: sticky;
    top: 0;
}
.main-nav{
    text-align: center;
    font-size: 1.2em;
    font-weight: normal;
    border-bottom: 1px solid rgba(225, 225, 225, .3);
}

.main-nav{
    position: sticky;
}
.nav a{
    display: inline-block;
    padding: .5em;
    text-decoration: none;
}

.nav a:hover{
    background: rgba(225, 225, 225, .3);
}

.main-head{
    background-image: url("mypicture.jpg");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 25%;  
    
}

.intro{
    font-size: 53px;
    text-align: center;
    bottom: 20px;
    color:black;
    vertical-align: middle;
}
.name{
    font-size: 85px;
    text-align: center;
    bottom: 20px;
    color: black;
    vertical-align: middle;
}






/*index.html*/

/*about me */
.about{
    display: inline-block;
}
/*background image*/
.about{
    /*add image*/
    background-image: url("images/");
    background-size: cover;
    background-blend-mode: multiply;
}
.about p{ 
    font-size: 230%;
    text-align: left;
    font-family: monospace;
    margin-right: 50%;
}

/*project(highlight)*/
.highlight li{
    display: inline;
    text-decoration: none
}
.highlight li img{
    float: left;
    margin-left: 20%;
    margin-bottom: 0px;
}
 
.highlight p{
    text-align: center;
    font-size: 230%;
    font-family: monospace;
    color: black
}
.highlight a{
    text-align: center;
    font-size: 100%;
    font-family: monospace;
    color: black
}

.highlight a:hover{
    background: rgba(225, 225, 225, .3);
    background-size: cover;
    color: blue /*lights up*/
}
.project hr{
    color: gray;
}
.project li{
    display: inline;
    text-decoration: none
}
.project li img{
    float: left;
    margin-left: 20%;
    margin-bottom: 0px;
}
 
.project p{
    text-align: center;
    font-size: 230%;
    font-family: monospace;
    color: black
}
.project h3{
    font-size: 260%;
    color: #264dce
}
.project a{
    text-align: center;
    font-size: 80%;
    font-family: monospace;
    color: black
}

.project a:hover{
    background: rgba(225, 225, 225, .3);
    background-size: cover;
    color: blue /*lights up*/
}
.project-head{
    background-image: url("");
    background-size: cover;
    background-blend-mode: multiply;
    padding-bottom: 25%; 
}

