.about h2{
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.about p{
    text-align: 200px;
    font-size: 23px;
    margin-right: 40px;
    font-family: monospace;
}
.posy{
    float: left;
    margin-left: 150px;
    margin-bottom: 0px;
}

