.title{
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 30px;
}
/*about me */
.about p{
    text-align: 200px;
    font-size: 23px;
    margin-right: 40px;
    font-family: monospace;
}
.posy{
    float: left;/*Grouping picture with text*/
    margin-left: 150px;
    margin-bottom: 0px;
}
/* Experiences / Hobbies*/
.xp

/*project(highlight)*/
.project li{
    display: inline;
    text-decoration: none
}
.project li img{
    float: left;
    margin-left: 150px;
    margin-bottom: 0px;
}
 
.project p{
    text-align: 200px;
    font-size: 23px;
    margin-right: 40px;
    font-family: monospace;
}
.project a{
    text-align: 200px;
    font-size: 23px;
    margin-right: 40px;
    font-family: monospace;
    color: black
}

.project a:hover{
    background: rgba(225, 225, 225, .3);
    background-size: cover;
    color: blue
}




